body {
    margin: 0;
    padding: 20 px;
    background-color: white;
    color: white;
}

header {
    padding: 5px;
    background-color: white;
    width: 100%;
}

header img {
    width: 100%;
}

section img {
    width: 50%;
    float: inherit;
}

section {
    overflow: auto;
}

#spring {
    background-color: palegreen;

}

#spring header {
    background-color: white;

}


#summer {
    background-color: lightcoral;
}

#summer header {
    background-color: white;
}

#fall {
    background-color: darkorange;
}

#fall header {
    background-color: white;
}

#winter {
    background-color: lightblue;
}

#winter header {
    background-color: white;
}

#wrap {
    margin: 0 auto;
    width: 70%;
}


nav {
    background-color: white;
    padding: 10px;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    color: black;
    font-family: times new roman;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 100%;
}

nav a:hover {
    color: white;
    background-color: lightgray;
}

nav ul {
    padding: 0;
    margin: 0;
}

section {
    color: black;
    padding: 30px;
    font-size: 100%;
}

footer {
    color: black;
    padding: 20px;
}
